ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listContainer li {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1rem;
}

.listContainer li:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.listHeader {
  display: flex;
  padding: 0.75rem 1rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(135, 24, 169);
}

.listHeader p {
  flex: 1;
  text-align: center;
  margin: 0;
}

.listItems {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-image: linear-gradient(135deg, #ff96f9 10%, #c32bac 100%);
  border-radius: 6px;
}

.listItems p {
  margin: 0;
  flex: 1;
  text-align: center;
}

.toolsContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.editButton,
.deleteButton {
  width: 50px;
  height: 40px;
  border-radius: 0.5rem;
  border: none;
}

.editButton:hover,
.deleteButton:hover {
  background-image: linear-gradient(135deg, #ff96f9 10%, #c32bac 100%);
}
